.TodoPage {
  .TodoContainer {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .addLine {
    display: flex;
    gap: 0 15px;
    margin-bottom: 35px;
  }

  .todoHeader {
    font-size: 2.5em;
    color: var(--dark-grey-color);

    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }

  .Todos {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  .Todo {
    display: flex;
    gap: 0 16px;
    align-items: center;

    .todoCheckbox {
      width: 20px;
      aspect-ratio: 1 / 1;
      background-color: var(--dark-purple-color);
    }

    .todoTitle {
      font-size: 1.375em;
      font-weight: 500;

      &.complete {
        text-decoration: line-through;
      }
    }

    .deleteTodo {
      cursor: pointer;

      svg path {
        transition: stroke .2s ease;
      }

      svg:hover path {
        stroke: var(--light-grey-color);
      }
    }
  }
}